{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col" style="text-align:center;">
        <br/>
        <br/>
        <h2>Contact Us</h2>
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <br/>
        <hr style="max-width:100px;margin-right:auto;margin-left:auto;">
    </div>
</div>
<div class="row">
    <div class="col align-self-center" style="text-align:center;">
        <br/>
        <i class="fa fa-home fa-4x"></i>
        <br/>
        Visit Us
        <br/>
        Masonic Hall, Priory Place, Doncaster, DN1 1BZ
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <br/>
        <hr style="max-width:100px;margin-right:auto;margin-left:auto;">
    </div>
</div>
<div class="row">
    <div class="col align-self-center" style="text-align:center;">
        <br/>
        <i class="fa fa-envelope-square fa-4x"></i>
        <br/>
        <a href="mailto:secretary.stgeorges242@gmail.com">secretary.stgeorges242@gmail.com</a>
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <br/>
        <hr style="max-width:100px;margin-right:auto;margin-left:auto;">
    </div>
</div>
<div class="row">
    <div class="col align-self-center" style="text-align:center;">
        <br/>
        Any issues related to the website please email us at:
        <br/>
        <a href="mailto:secretary.stgeorges242@gmail.com">secretary.stgeorges242@gmail.com</a>
    </div>
</div>
<div class="row">
    <div class="col align-self-center">
        <br/>
        <hr style="max-width:100px;margin-right:auto;margin-left:auto;">
    </div>
</div>
{% endblock content %}