{% extends "base.html" %}

{% block content %}
<br>
<h1>St Georges History</h1>
The History of the Lodge of St Georges dates back to 1780, where the first meeting was at the Red Lion Inn, Doncaster, which still stands to this day.

<br>
<br>
<div class="row">
    <div class="col" style="text-align:left;">
        <h2>First Attempt</h2>
        The first known attempt to establish Masonry in Doncaster was when a Bro. Hassell was approached by three gentlemen named Parker, Kay and Kerside, with a view to the formation of a lodge in Doncaster. Brother Hassell approached a Lodge in Rotherham names the Druidical Lodge No. 109 on the 27th August 1779. For some unknown reason, however, the petition was postponed when the Lodge met on the 24th September and at the next meeting held on 22nd October, Bro. Hassell withdrew the petition.
        <br/>
        <br/>
    </div>
    <div class="col" style="text-align:left;">
    </div>
</div>
<div class="row">
    <div class="col" style="text-align:left;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Eumeration Year</th>
                    <th>Lodge Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1780</td>
                    <td>527/432</td>
                </tr>
                <tr>
                    <td>1781</td>
                    <td>433</td>
                </tr>
                <tr>
                    <td>1792</td>
                    <td>348</td>
                </tr>
                <tr>
                    <td>1824</td>
                    <td>447</td>
                </tr>
                <tr>
                    <td>1832</td>
                    <td>298</td>
                </tr>
                <tr>
                    <td>1863</td>
                    <td>242</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col" style="text-align:left;">
        <h2>The Lodge Numbers</h2>
        Between the London Grand Lodge being formed in 1713 and 1770 many Lodges working under its jurisdiction lapsed and ceased to exist and their names were removed from the Grand Roll of Lodges leaving gaps making the Roll very untidy. Grand Lodge decided to close up the names of Lodges remaining and number them consecutively.
    </div>
</div>
{% endblock content %}